@import "tailwindcss";

:root {
  /* Palet Warna Baru UKMF Riset & FISIB */
  --background: #F2F2F2;       /* Off-White dari palet */
  --foreground: #0D0D0D;       /* Black/Charcoal pekat untuk teks utama */
  --muted: #8C8C8C;            /* Grey untuk teks sekunder/caption */
  --border: #E5E7EB;           /* Border abu-abu halus standar */
  --bg-secondary: #FFFFFF;     /* Putih bersih untuk background kartu/konten */
  
  /* Gradasi Utama */
  --accent-from: #F27405;      /* Orange khas FISIB */
  --accent-to: #A6691F;        /* Cokelat Emas identitas Riset */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-muted: var(--muted);
  --color-border: var(--border);
  --color-bg-secondary: var(--bg-secondary);
  
  /* Akses cepat untuk variabel gradasi baru di utility class Tailwind */
  --color-accent-from: var(--accent-from);
  --color-accent-to: var(--accent-to);
  
  /* Konfigurasi Font */
  --font-sans: var(--font-inter);
  --font-heading: var(--font-space);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
}